build/
compliled/

# ignore text files
*.txt
*.md
# ignore LaTeX auxiliary files
*.aux
*.log
*.lof
*.lot
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
# ignore Word documents
*.docx
*.doc
# ignore compiled PDFs
*.pdf
*.tex
# ignore bibliography files
*.bib